@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

$positive: #049e02 !default;

body {
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: geometricPrecision;
  background-color: #F3F3F3;
}

.maps-bg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  .angular-google-map-container {
    height: 100vh;
  }
}

.big-footer {
  z-index: 99;
  height: 70px;
}

.location-selector {
  text-align: center;
  padding: 0.3em !important;

  .icon {
    font-size: 1.5em;
    padding: 0.6em;
    clear: both;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .location-selector-title {
    font-size: 0.7em;
    font-weight: bold;
    color: $positive;
    margin: 0;
  }

  .content {
    font-size: 1em;
  }
}

.light-bg {
  background-color: #f5f5f5;
}

.light-shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.packed-list {
  .item {
    padding-top: 0.8em;
    padding-bottom: 0.6em;
  }

  .icon {
    color: darkgrey;
  }
}

.loading-indicator {
  svg {
    margin-left: -6px;
    margin-top: 6px;
    margin-right: -5px;
    height: 20px;
    stroke: $positive;
    fill: $positive;
  }
}

.bold {
  font-weight: bold;
}

/** Styling for the username field **/
label.item.has-error {
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {
  border-left: 2px solid red;
  border-right: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {
  border-left: 2px solid green;
  border-right: 2px solid green;
}

/** Styling for the error text and container **/
.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

.main-button {
  border-radius: 100px;
}

.transparent {
  background-color: transparent !important;
  border: none !important;
}

.next-button {
  font-weight: bold !important;
  font-size: 1em !important;
}

.bar.bar-transparent {
  background-color: transparent !important;
  border: none !important;
  background-position: inherit !important;
}
.scroll-content {
  overflow: visible !important;
}

.scroll-content{
  z-index: 11;
  background-color: white;
}

.list-with-shadow{
  box-shadow: 0 -50px 150px rgba(0,0,0,.5);
}

.map{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 350px;
  z-index: -3;

  * {
    height: inherit;
    width: 100vh;
  }
}

.round-button {
  border-radius: 500px;
  width: 40px;
  height: 40px;
  background-color: white;
  box-shadow: 0 1px 2px grey;
  margin: 5px;
}
