<ion-modal-view ng-controller="LocationSearchCtrl">
  <ion-header-bar class="item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model="searchQuery"
             autofocus
             ng-model-options="{debounce: 500}" placeholder="{{placeholder}}"/>
    </label>

    <div class="ion-autocomplete-loading-icon" ng-if="showLoadingIcon">
      <ion-spinner icon="{{loadingIcon || 'ion-load-d'}}"></ion-spinner>
    </div>
    <button class="button button-clear button-positive" ng-click="cancel()">{{cancelLabel || 'Cancel'}}</button>
  </ion-header-bar>
  <ion-content class="light-bg">
    <ion-list ng-if="suggestions.length">
      <div class="card light-shadow packed-list">
        <div class="item item-text-wrap item-icon-left" ng-repeat="item in suggestions">
          <i class="icon ion-location"></i>
          <!--<h3>{{item.place_id}}</h3>-->
          <p>{{item.formatted_address}}</p>
        </div>
      </div>
    </ion-list>
    <div class="text-center" ng-if="suggestions.length">
      <img src="https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white2.png"/>
      <br>
    </div>
  </ion-content>
</ion-modal-view>
