<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">New Card</h1>
    <button class="button button-clear button-positive" ng-click="cancel()">Cancel</button>
  </ion-header-bar>
  <ion-content class="grey-bg">
    there will be a credit card form here
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-positive">
    <button class="button button-block button-clear"
            ng-click="saveCard()" style="color: white;margin: 0;">
      Add Card
    </button>
  </ion-footer-bar>
</ion-modal-view>
