<ion-modal-view ng-controller="ModalAddressSearchCtrl">
  <ion-header-bar class="item-input-inset">
    <button class="button button-clear button-positive" ng-click="cancel()">Cancel</button>
    <h1 class="title">{{title}}</h1>
    <button class="button button-clear button-positive" ng-if="selected" ng-click="save()">Done</button>
  </ion-header-bar>
  <ion-header-bar class="item-input-inset bar-subheader" style="top:0px" ng-if="searching">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model="searchQ.query" id="search-input"
             ng-model-options="{debounce: 250}" focus-me="focus"
             placeholder="{{searchText}}"/>

      <div ng-show="loading" style="transform: scale(1);">
        <ion-spinner icon="dots" class="spinner-energized"></ion-spinner>
      </div>
    </label>
  </ion-header-bar>
  <ion-content class="grey-bg" style="margin-top: -2px">
    <div ng-if="!selected">
      <ion-list ng-if="!searching" style="margin-top: -2px">
        <div class="item item-divider">
          Search by
        </div>
        <div class="item item-text-wrap item-icon-left item-icon-left"
             ng-click="search('residential')">
          <i class="icon ion-ios-search-strong" style="font-size: x-large"></i>

          Address
          <!--<p>Search by address</p>-->
        </div>
        <div class="item item-text-wrap item-icon-left item-icon-left"
             ng-click="search('business')">
          <i class="icon ion-ios-search-strong" style="font-size: x-large"></i>

          Hotel or Business
          <!--<p>Search by business name and city</p>-->
        </div>
        <!--
        <div class="item item-divider">

        </div>
        <div class="item item-text-wrap item-icon-left item-icon-left"
             ng-click="addressType = 'manual'; selectLocation()">
          <i class="icon ion-ios-home-outline" style="font-size: x-large"></i>

          Enter address
        </div>-->
        <div ng-repeat="suggestion in suggestions">
          <div class="item item-divider" ng-show="suggestion.title">
            <br>{{suggestion.title}}
          </div>
          <div class="item item-text-wrap item-icon-left item-icon-left"
               ng-click="select(item)"
               ng-repeat="item in suggestion.items">
            <i class="icon {{item.icon}}" style="font-size: x-large"></i>

            <h3 ng-if="item.description">{{item.description}}</h3>

            <p>{{item.subtitle}}</p>
          </div>
        </div>
        <br><br>
      </ion-list>

      <ion-list ng-if="searching">
        <div style="margin-top: 42px;">
          <div class="item item-text-wrap item-icon-left item-icon-left"
               ng-click="selectLocation(item)"
               ng-repeat="item in results">
            <i class="icon"
               ng-class="{'ion-ios-home-outline':item.types[0] === 'establishment', 'ion-location': item.types[0] !== 'establishment'}"
               style="font-size: x-large"></i>
            {{item.description}}
          </div>
        </div>
        <div class="item item-text-wrap item-icon-left item-icon-left"
             ng-click="selectLocation()" ng-if="searchQ.query">
          <i class="icon ion-location" style="font-size: x-large"></i>
          {{searchQ.query}}
        </div>
      </ion-list>
      <!--<div class="text-center" ng-if="results.length">
        <img src="https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white2.png"/>
        <br>
      </div>-->
    </div>
    <div ng-if="selected" class="grey-bg">
      <ion-list class="grey-bg">
        <div class="item item-divider">
          <br>
          <span ng-if="addressType === 'manual'">Enter </span>
          <span ng-if="addressType !== 'manual'">Confirm </span>
          Address
        </div>

        <ion-item class="item item-input item-stacked-label"
                  ng-if="addressType !== 'residential'"
                  style="background-color: white">
          <span class="input-label">Hotel or Business name</span>
          <input type="text" ng-model="selected.name"
                 placeholder="(Optional)">
        </ion-item>
        <ion-item class="item item-input item-stacked-label" style="background-color: white">
          <span class="input-label">Address 1</span>
          <input type="text" ng-model="selected.address_1"
                 placeholder="Address">
        </ion-item>
        <ion-item class="item item-input item-stacked-label" style="background-color: white">
          <span class="input-label">Address 2</span>
          <input type="text" ng-model="selected.address_2"
                 placeholder="(Optional)">
        </ion-item>
        <ion-item class="item item-input item-stacked-label" style="background-color: white">
          <span class="input-label">Postcode</span>
          <input type="text" ng-model="selected.postcode"
                 placeholder="Postcode">
        </ion-item>

        <ion-item class="item item-input item-stacked-label" style="background-color: white;">
          <div class="row" style="padding: 0">
            <div class="col" style="padding: 0">
              <span class="input-label">City</span>
              <input type="text" ng-model="selected.city"
                     placeholder="City">
            </div>
            <div class="col" style="padding: 0">
              <span class="input-label">State</span>
              <input type="text" ng-model="selected.state"
                     placeholder="State">
            </div>
          </div>
        </ion-item>
      </ion-list>
      <br><br>
    </div>
    <div id="map" style="display: none">
    </div>
  </ion-content>
  <!--<ion-footer-bar class="bar-positive" keyboard-attach ng-if="selected">
    <button class="button button-block button-clear"
            ng-click="save()"
            style="color: white;margin: 0;">Save
    </button>
  </ion-footer-bar>-->
</ion-modal-view>
