<ion-modal-view ng-controller="ModalBagOptionsCtrl">
  <ion-header-bar class="item-input-inset">
    <button class="button button-clear button-positive" ng-click="cancel()">Cancel</button>
    <h1 class="title">Luggage Details</h1>
    <button class="button button-clear button-positive" ng-click="saveBagOptions()">Done</button>
  </ion-header-bar>
  <ion-content class="grey-bg" style="margin-top: -2px">
    <ion-list>
      <div class="item item-divider">
        <br>
        <span style="float: right;margin-right: 15%;">Quantity</span>
      </div>
      <div class="item row" ng-repeat="bag in bags">
        <div class="col">
          <p>{{bag.name}}</p>

          <p>{{bag.dimensions.length}} x {{bag.dimensions.width}} x {{bag.dimensions.height}}</p>

          <p>Up to {{bag.dimensions.weight}} lbs</p>
        </div>
        <div class="col">
          <div class="button-bar">
            <button class="button button-icon ion-minus" ng-click=" (bag.amount) > 0 ? bag.amount = bag.amount - 1:null"></button>
            <button class="button button-clear"
                    ng-class="{'button-positive': bag.amount > 0}">{{bag.amount}}
            </button>
            <button class="button button-icon ion-plus" ng-click="bag.amount = bag.amount + 1"></button>
          </div>
        </div>
      </div>
      <br><br>
    </ion-list>
  </ion-content>
</ion-modal-view>
