<ion-modal-view ng-controller="ModalDateSelectCtrl">
  <ion-header-bar>
    <h1 class="title">Date</h1>
    <button class="button button-clear button-positive" ng-click="cancel()">Cancel</button>
  </ion-header-bar>
  <ion-header-bar class="bar-subheader">
    <div class="button-bar">
      <a class="button"
         ng-click="toPickupMode()"
         ng-class="{'button-positive': storage.mode === 'pickup'}">
        Pickup my luggage on...</a>
      <a class="button"
         ng-click="toDropoffMode()"
         ng-class="{'button-positive': storage.mode === 'dropoff'}">
        Deliver my luggage on...</a>
    </div>
  </ion-header-bar>

  <ion-content class="grey-bg" scroll="false">
    <date-picker ng-model="date" on-date-selected="dateSelected(date)">
    </date-picker>
  </ion-content>
</ion-modal-view>
