<ion-modal-view ng-controller="ModalTimeSelectCtrl">
  <ion-header-bar>
    <h1 class="title">Pickup Time</h1>
    <button class="button button-clear button-positive" ng-click="done()">Done</button>
  </ion-header-bar>
  <ion-content class="grey-bg" scroll="false">
    <h3 class="text-center" style="padding: 2em">
      Between {{formatHour(time.earliest)}} and {{formatHour(time.latest)}}
    </h3>

    <div class="item range range-positive">
      Earliest<input type="range" name="earliest" ng-model="time.earliest" min="1" max="24">
    </div>
    <div class="item range range-positive">
      Latest<input type="range" name="latest" ng-model="time.latest" min="1" max="24">
    </div>
  </ion-content>
</ion-modal-view>
