<ion-view view-title="Pickup">
  <ion-content scroll="false">
    <div class="card location-selectors">
      <div class="item location-selector" ng-click="editPickupLocation()">
        <i class="icon ion-ios-search-strong"></i>
        <p class="location-selector-title">PICKUP LOCATION</p>
        <p class="location">Torstrasee 120</p>
      </div>
      <div class="item location-selector" ng-click="editDate()">
        <i class="icon ion-ios-calendar-outline"></i>
        <p class="location-selector-title">PICKUP DATE</p>
        <p class="location">July 23rd</p>
      </div>
      <div class="item location-selector" ng-click="editTime()">
        <i class="icon ion-ios-clock-outline"></i>
        <p class="location-selector-title">PICKUP TIME</p>
        <p class="location">09:00 to 15:00</p>
      </div>
      </div>
    </div>
    <div class="maps-bg-container">
      <ui-gmap-google-map center="map.center"
                          zoom="map.zoom"
                          dragging="false"
        options="options">

      </ui-gmap-google-map>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-stable big-footer">
    <!--<div class="buttons">
      <button class="button">Left Button</button>
    </div>
    <h1 class="title">Title!</h1>
    <div class="buttons" ng-click="doSomething()">
      <button class="button">Right Button</button>
    </div>-->

  </ion-footer-bar>
</ion-view>
