<ion-view>
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-clear no-back-text">
      <i class="ion-ios-arrow-thin-left xx-large back-arrow"></i>
    </ion-nav-back-button>
    <ion-nav-title>
      {{title}}
    </ion-nav-title>
    <ion-nav-buttons side="secondary">
      <button class="button button-clear"
              ng-click="next()">
        Next
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="grey-bg">
    <div id="tab-new-options">
      <div class="fields">
        <div class="item item-divider">
          Delivery Speed
        </div>
        <div class="card">
          <div class="item" ng-repeat="method in shippingMethods">
            <ion-checkbox ng-model="method.selected" ng-change="changedShipping(method)">
              {{method.name}}
              <div class="right">
                <span class="price">{{method.price | currency}}</span><br>
                <span class="difference">
                  <span ng-if="method.difference > 0">+</span>{{method.difference}}
                </span>
              </div>
              <p>Pickup on {{method.pickupDate | date}}</p>
              <p>{{method.days}} days before departure</p>
            </ion-checkbox>
          </div>
        </div>
        <div class="item item-divider">
          Pickup Time
        </div>
        <div class="card">
          <h3 class="text-center">{{formatHour(earliest)}} to {{formatHour(latest)}}</h3>
          <div class="item range range-positive">
            Earliest<input type="range" name="earliest" ng-model="earliest" min="0" max="24">
          </div>
          <div class="item range range-positive">
            Latest<input type="range" name="latest" ng-model="latest" min="0" max="24">
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
