<ion-view view-title="Helix" hide-back-button="true">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear"
            ng-click="next()">
      Next
    </button>
  </ion-nav-buttons>
  <ion-content class="grey-bg">
    <div id="tab-new">
      <div class="fields">
        <div class="card text-center">
          <div class="item card-field two-lines" ng-click="openPickupCityModal()">
            <p class="subtitle">
              PICKUP MY LUGGAGE IN...
            </p>

            <p ng-if="storage.pickup">
              {{storage.pickup.place.name ||
              storage.pickup.address_1 + ', ' + storage.pickup.city + ', ' + storage.pickup.postcode + ', ' +
              storage.pickup.state || storage.pickup.place.formatted_address}}
            </p>
            <p ng-if="!storage.pickup">
              Select Location
            </p>
          </div>
          <div class="item card-field two-lines" ng-click="openDropoffCityModal()">
            <p class="subtitle">
              DELIVER MY LUGGAGE TO...
            </p>

            <p ng-if="storage.dropoff">
              {{storage.dropoff.place.name ||
              storage.dropoff.address_1 + ', ' + storage.dropoff.city + ', ' + storage.dropoff.postcode + ', ' +
              storage.dropoff.state || storage.dropoff.place.formatted_address}}
            </p>
            <p ng-if="!storage.dropoff">
              Select Location
            </p>
          </div>
        </div>
        <div class="card text-center">
          <div class="item card-field two-lines" ng-click="openBagOptionsModal()">
            <p class="subtitle">
              LUGGAGE DETAILS
            </p>

            <p ng-if="storage.bags">
              <span ng-repeat="size in storage.bags | omit:'!amount'">
                {{size.amount}} x {{size.name}}<span ng-if="$index + 1 < (storage.bags | omit:'!amount').length">, </span>
              </span>
            </p>
            <p ng-if="!storage.bags">
              Select number of bags
            </p>
          </div>
        </div>
        <div class="card text-center">
          <div class="item card-field two-lines" ng-click="openDateSelectModal()">
            <p class="subtitle">
              DATE
            </p>

            <p ng-if="storage.dropoffDate || storage.pickupDate">
              <span ng-if="storage.dropoffDate">Deliver on {{storage.dropoffDate | date}}</span>
              <span ng-if="storage.pickupDate">Pickup on {{storage.pickupDate | date}}</span>
            </p>
            <p ng-if="!storage.dropoffDate && !storage.pickupDate">
              Select pickup or dropoff date
            </p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
