<ion-view>
  <ion-nav-title>
    {{title}}
  </ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button button-clear"
            ng-click="next()">
      Next
    </button>
  </ion-nav-buttons>
  <ion-content class="grey-bg">
    <br><br>

    <div ng-repeat="date in dates">
      <ion-checkbox ng-model="date.selected" ng-change="changedSelection($index)">
        {{addDays(storage.pickup.date, date.shipments[0].rate.delivery_days) | date:'EEEE, MMMM d'}}<br>
        <span ng-if="(date.date | utc | date:'h') !== 'NaN'">{{date.date | utc | date:'h:mm a'}}<br></span>
        <!--<p>{{date.shipments[0].rate.delivery_days}} days after pickup</p>-->

        <p ng-if="differenceInDays(addDays(storage.pickup.date, date.shipments[0].rate.delivery_days), storage.travel.arrival) > 0">
          {{differenceInDays(addDays(storage.pickup.date, date.shipments[0].rate.delivery_days), storage.travel.arrival)}} days before arrival
        </p>

        <p style="color: green;font-size: medium;"
          ng-if="differenceInDays(addDays(storage.pickup.date, date.shipments[0].rate.delivery_days), storage.travel.arrival) === 0">
          On the day of arrival
        </p>

        <p ng-if="differenceInDays(addDays(storage.pickup.date, date.shipments[0].rate.delivery_days), storage.travel.arrival) < 0 && differenceInDays(addDays(storage.pickup.date, date.shipments[0].rate.delivery_days), storage.travel.departure) < 0">
          {{differenceInDays(addDays(storage.pickup.date, date.shipments[0].rate.delivery_days), storage.travel.arrival) * -1}} days after arrival
        </p>

        <p style="font-size: medium;"
           ng-if="differenceInDays(addDays(storage.pickup.date, date.shipments[0].rate.delivery_days), storage.travel.departure) === 0">
          On the day of departure
        </p>
      </ion-checkbox>
    </div>

    <div ng-if="!loading && dates.length < 1">
      We couldn't find any dates to deliver your luggage.
      Please go back and change the amount of bags and try again.
    </div>
    <br><br>
  </ion-content>
</ion-view>
