<ion-view hide-back-button="true">
  <ion-nav-bar class="bar-positive">
    <ion-nav-title>
      {{title}}
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content class="grey-bg">
    <div id="tab-new-done">
      <h2 class="padded text-center" style="padding: 1em">Your pickup has been scheduled!</h2>
      <p class="text-center" style="padding: 0.7em">We have sent you a confirmation email with the shipping labels. Please print them and attach them to your luggage.</p>
      <br>

      <div class="item item-divider">
        <br>Your Pickup
      </div>
      <ion-item ng-if="trip.pickup.address">
        {{formatAddress(trip.pickup.address)}}
      </ion-item>
      <ion-item>
        {{trip.pickup.min_datetime | date:'fullDate'}}
        <p>Between {{trip.pickup.min_datetime | date:'hh:mm a'}} and {{trip.pickup.max_datetime | date:'hh:mm a'}}</p>
      </ion-item>
      <br><br>
      <ion-item class="item text-center positive" ng-click="restart()">
        <strong>Create another pickup</strong>
      </ion-item>
      <br><br>
    </div>
  </ion-content>
</ion-view>
