<ion-view view-title="Helix" hide-back-button="true">
  <ion-nav-back-button class="button-clear no-back-text">
    <i class="ion-ios-arrow-thin-left xx-large back-arrow"></i>
  </ion-nav-back-button>
  <ion-nav-title>
    Helix
  </ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button button-clear"
            ng-click="next()">
      Next
    </button>
  </ion-nav-buttons>
  <ion-content class="grey-bg">
    <div id="tab-new">
      <div class="fields">
        <div class="card text-center">
          <div class="item card-field two-lines" ng-click="openPickupCityModal()">
            <p class="subtitle">
              PICKUP MY LUGGAGE IN...
            </p>

            <p ng-if="storage.pickup.city.place_id">
              {{storage.pickup.city.description}}
            </p>
            <p ng-if="!storage.pickup.city.place_id">
              Select City
            </p>
          </div>
          <div class="item card-field two-lines" ng-click="openDropoffCityModal()">
            <p class="subtitle">
              DELIVER MY LUGGAGE TO...
            </p>

            <p ng-if="storage.dropoff.city.place_id">
              {{storage.dropoff.city.description}}
            </p>
            <p ng-if="!storage.dropoff.city.place_id">
              Select City
            </p>
          </div>
        </div>
        <div class="card text-center">
          <div class="item card-field two-lines" ng-click="openBagOptionsModal()">
            <p class="subtitle">
              LUGGAGE DETAILS
            </p>

            <p ng-if="storage.bags">
              <span ng-repeat="size in storage.bags" ng-if="size.amount">
                {{size.amount}} x {{size.name}},
              </span>
            </p>
            <p ng-if="!storage.bags">
              Select number of bags
            </p>
          </div>
        </div>
        <div class="card text-center">
          <div class="item card-field two-lines" ng-click="openDateSelectModal()">
            <p class="subtitle">
              DATE
            </p>

            <p ng-if="storage.dropoffDate || storage.pickupDate">
              <span ng-if="storage.dropoffDate">Deliver on {{storage.dropoffDate | date}}</span>
              <span ng-if="storage.pickupDate">Pickup on {{storage.pickupDate | date}}</span>
            </p>
            <p ng-if="!storage.dropoffDate && !storage.pickupDate">
              Select pickup or dropoff date
            </p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
