<ion-view>
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-clear no-back-text">
      <i class="ion-ios-arrow-thin-left xx-large back-arrow"></i>
    </ion-nav-back-button>
    <ion-nav-title>
      {{title}}
    </ion-nav-title>
    <ion-nav-buttons side="secondary">
      <button class="button button-clear"
              ng-click="next()">
        Next
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="grey-bg">
    <div id="tab-new-options">
      <div id="tab-new-options">
        <div class="item item-divider">
          Luggage
        </div>
        <div class="item row" ng-repeat="size in sizes">
          <div class="col">
            <!--<ion-checkbox ng-model="size.selected" ng-change="changedSize(size)">-->
            {{size.name}}
            <p>{{size.dimensions}}<br>
               {{size.weight}}</p>
            <!--</ion-checkbox>-->
          </div>
          <div class="col">
            <div class="button-bar">
              <button class="button button-icon ion-minus" ng-click=" (size.amount) > 0 ?size.amount = size.amount - 1:null"></button>
              <button class="button button-clear"
                      ng-class="{'button-positive': size.amount > 0}">{{size.amount}}
              </button>
              <button class="button button-icon ion-plus" ng-click="size.amount = size.amount + 1"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-divider">
        Pickup Date
      </div>
      <div class="item">
        <div ng-repeat="method in shippingMethods">
          <ion-checkbox ng-model="method.selected" ng-change="changedShipping(method)">
            {{method.name}}
            <!--<div class="right">
              <span class="price">{{method.price | currency}}</span><br>
              <span class="difference">
                <span ng-if="method.difference > 0">+</span>{{method.difference}}
              </span>
            </div>-->
            <p>Pickup on {{method.pickupDate | date}}</p>

            <p>{{method.days}} days before departure</p>
        </div>
        </ion-checkbox>
      </div>
      <div class="item item-divider">
        Pickup Time
      </div>
      <div class="item text-center" ng-click="openTimeSelectModal()">
        <br>
        {{formatHour(pickup.earliest)}} to {{formatHour(pickup.latest)}}
        <br><span style="opacity: 0">i</span>
      </div>
      <br>
      <br>
    </div>
  </ion-content>
</ion-view>
