<ion-view hide-back-button="true">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-clear no-back-text">
      <i class="ion-ios-arrow-thin-left xx-large back-arrow"></i>
    </ion-nav-back-button>
    <ion-nav-title>
      {{title}}
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content class="grey-bg">
    <div id="tab-new-done">
      <div style="text-align: center; padding: 20%; height: 100vh">
        <h2>Your pickup has been scheduled!</h2>
        <br>
        <button class="button button-block button-positive button-clear" ng-click="">
          <strong>Create another pickup</strong>
        </button>
        <br>
        <button class="button button-block button-positive button-clear" ng-click="">
          View my orders
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
