<ion-view view-title="New Trip">
  <ion-content class="secondary-bg">
    <div id="tab-new">
      <div class="hero">
        <img src="images/Helix_Logo_Icon1_orangesolid.png"/>

        <div class="brand">
          <!--<h2 class="no-margin">Helix</h2>-->

          <h3 class="padded">Where are you travels taking you next?</h3>
        </div>

        <div class="card search-bar" ng-click="openSearchCityModal()">
          <div class="item">
            <i class="icon ion-ios-search-strong"></i>

            <p>
              Search for a city
            </p>
          </div>
        </div>

        <div class="card location-suggestions">
          <div class="item location-suggestion two-lines">
            <p class="subtitle">
              CONCUR BOOKING
            </p>

            <p>
              New York
            </p>
          </div>
        </div>

        <div class="card location-suggestions">
          <div class="item location-suggestion">
            <p>
              San Francisco
            </p>
          </div>
          <div class="item location-suggestion">
            <p>
              Los Angeles
            </p>
          </div>
          <div class="item location-suggestion">
            <p>
              Seattle
            </p>
          </div>
          <div class="item location-suggestion">
            <p>
              Boston
            </p>
          </div>
          <div class="item location-suggestion">
            <p>
              Austin
            </p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
