<ion-view view-title="Trip Details">
  <ion-content class="grey-bg">
    <ion-item class="item text-center" ng-if="loading">
      <ion-spinner class="spinner-energized"></ion-spinner>
      <br>
      Loading trip details...
    </ion-item>
    <div ng-if="!loading && trip">
      <ion-item class="text-center">
        <h2>{{trip.tripData.pickup.location.easypost.address.city | capitalize}} to {{trip.tripData.dropoff.location.easypost.address.city | capitalize}}</h2>

        <p style="opacity:0.5">Trip #{{trip._id}}</p>
      </ion-item>
      <div class="item item-divider">
        <br>Pickup
      </div>
      <ion-item ng-if="trip.pickup.address">
        {{formatAddress(trip.pickup.address)}}
      </ion-item>
      <ion-item>
        {{trip.pickup.min_datetime | date:'fullDate'}}
        <p>Between {{trip.pickup.min_datetime | date:'hh:mm a'}} and {{trip.pickup.max_datetime | date:'hh:mm a'}}</p>
      </ion-item>
      <div class="item item-divider">
        <br>Dropoff
      </div>
      <ion-item>
        {{formatAddress(trip.tripData.dropoff.location.easypost.address)}}
      </ion-item>
      <ion-item>
        {{trip.shipments[0].selected_rate.delivery_date | date:'fullDate'}}
        <p>Around {{trip.shipments[0].selected_rate.delivery_date | date:'hh:mm a'}}</p>
      </ion-item>
      <div class="item item-divider">
        <br>Tracking #
      </div>
      <ion-item ng-repeat="shipment in trip.shipments">
        {{shipment.tracking_code}}
        <p>{{shipment.parcel.length}} x {{shipment.parcel.width}} x {{shipment.parcel.height}}  {{shipment.parcel.weight}} lbs.</p>
      </ion-item>
      <div class="item item-divider">
        <br>Luggage labels
      </div>
      <ion-item class="item-icon-right"
                ng-repeat="shipment in trip.shipments" ng-click="viewLabel(shipment.postage_label)">
        View label
        <p>{{shipment.tracking_code}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <br><br><br>
    </div>
  </ion-content>
</ion-view>
