<ion-view view-title="Trip Details">
  <ion-content class="grey-bg">
    <ion-item class="text-center">
      <h2>Boston to New York</h2>

      <p style="opacity:0.5">Trip #1243434</p>
    </ion-item>
    <div class="item item-divider">
      <br>Pickup
    </div>
    <ion-item>
      Address
    </ion-item>
    <ion-item>
      9 AM to 3PM
    </ion-item>
    <ion-item>
      <p>Pickup scheduled in 2 days</p>
    </ion-item>
    <div class="item item-divider">
      <br>Dropoff
    </div>
    <ion-item>
      Address
    </ion-item>
    <ion-item>
      <p>Dropoff scheduled in 1 week</p>
    </ion-item>
    <div class="item item-divider">
      <br>Tracking #
    </div>
    <ion-item>
      9999 9999 9999
    </ion-item>
  </ion-content>
</ion-view>
